<div class="page">
  <div class="header">
    <div class="header__left">
      <button class="header__task" (click)="selectElem(1)" [class.header__task-active]="this.dataService.buttonSelect === 1">1 задание (easy)</button>
      <button class="header__task" (click)="selectElem(4)" [class.header__task-active]="this.dataService.buttonSelect === 4">1 задание (medium)</button>
      <button class="header__task" (click)="selectElem(5)" [class.header__task-active]="this.dataService.buttonSelect === 5">1 задание (hard)</button>
      <button class="header__task" (click)="selectElem(2)" [class.header__task-active]="this.dataService.buttonSelect === 2">2 задание</button>
    </div>
    <div class="header__right" (click)="selectElem(3)">
      <svg-icon src="assets/exit.svg"></svg-icon>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
